
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
.about{
    width: 100%;
    padding: 78px 0px;
}
.about img{
    height:auto;
    width: 420px;
    border-radius: 15px;


}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin:0px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.head{
    text-align: center;
    padding-bottom: 50px;
    font-size: 75px;
    color: yellowgreen;
}
span{
    color: blueviolet;
}
button{
    padding: 10px 25px;
    color: #fff;
    background-color: blue;
    border-radius: 10px;
}
p{
    padding-bottom: 50px;
    
}
.about-text h5{
    font-size: 25px;
    padding-bottom: 25px;
}
.about-text p{
    font-size: 18px;
    text-transform: capitalize;
}